
# Service de Redis

apiVersion: v1
kind: Service
metadata:
  name: redis-integrador
  namespace: servicios 
  labels:
    app: redis-integrador
spec:
  selector:             
    app: redis-integrador
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
---

# StatefulSet de Redis

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-integrador
  namespace: servicios # integrador
  labels:
    app: redis-integrador
spec:
  serviceName: redis-integrador
  replicas: 1
  selector:
    matchLabels:        
      app: redis-integrador
  template:
    metadata:
      labels:
        app: redis-integrador
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
      containers:
        - name: redis
          image: redis:7
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              memory: "128Mi"
          volumeMounts:
            - name: redis-data
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi
