apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-pool
  namespace: apps        
  replicas: 1            
  selector:
    matchLabels:
      app: worker-pool
  template:
    metadata:
      labels:
        app: worker-pool
    spec:
      containers:
        - name: worker-pool
          image: docker.io/facundootero/worker_pool:v3  
          imagePullPolicy: Always
          env:
            
            - name: RABBITMQ_HOST
              value: "rabbitmq.servicios"          
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: username
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: password
            - name: RABBITMQ_VHOST
              value: "/"
            - name: RABBITMQ_QUEUE
              value: "pool.tasks"

            # coordinador de workers 
            - name: WORKER_COORD_URL
              value: "http://workers-coordinator.apps.svc.cluster.local:5003/alive"

          
            - name: BLOCKCHAIN_COORD_URL
              value: "http://coordinator.apps.svc.cluster.local:5000/solved_task"

            # periodo de heartbeat del pool
            - name: HB_PERIOD
              value: "7"

          ports:
            - containerPort: 5002  
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: worker-pool
  namespace: apps
spec:
  selector:
    app: worker-pool
  ports:
    - name: http
      port: 5002
      targetPort: 5002
      protocol: TCP
  type: ClusterIP
